<ion-card-header [translucent]="true">    
  <ion-list-header>
  <ion-title class="titre">Le Bateau de Thibault</ion-title>
  <ion-icon name="search-outline" (click)="searchActive=!searchActive"></ion-icon>
  </ion-list-header>
  <ion-toolbar *ngIf="searchActive">
      <ion-searchbar class="searchbar"></ion-searchbar>
  </ion-toolbar>
      <!-- List Header with Button -->
      <ion-list-header class="header_menu">
        <ion-button class="buttonHome" (click)="produits()">Produits</ion-button>
        <ion-button class="buttonHome" (click)="recette()">Recettes</ion-button>
        <ion-button class="buttonHome" (click)="restaurant()">Restaurants</ion-button>
        <ion-button class="buttonHome" (click)="bateau()">Bateaux</ion-button>
        <ion-button class="buttonHome" (click)="contact()">Contacts</ion-button>
      </ion-list-header>
</ion-card-header>
<ion-content>
  
</ion-content>


<ion-card-content class="para"> 
    Vente en direct de notre bureau
    Produit selon la saison, Livraison sur Paris
</ion-card-content>  

