<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
     Bateau Thibault
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <ion-card-header>
      Nos beateux partenaires
    </ion-card-header>
  <ion-card-content>
    <ion-card>
      <ion-button *ngFor="let bat of modelData" (click)="showModal(bat)"> 
        {{bat.name}}
    </ion-button>
    </ion-card>
  </ion-card-content>
  </ion-content>
</ion-content>
