<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Restaurent
    </ion-title>
  </ion-toolbar>
</ion-header>
    <ion-item>
      <ion-label> Restaurent Partenaires</ion-label>
    </ion-item>
<ion-content>
  <ion-card-header>
    Tous nos Restaurent partenaire avec le bateau de Thibault
  </ion-card-header>
  <br>
  <ion-card-content>
    <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="call"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-google"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-card-content>
    <br>
    <p>
<ion-card-content>
  <ion-card>
     <ion-button>Bistrot des Gascons</ion-button>
    <ion-button>Les fous de l'île</ion-button><br>
    <ion-button>Bistrot landais</ion-button>
    <ion-button>Villa 9-Trois</ion-button><br>
    <ion-button>Bistrot du Sommalier</ion-button>
    <ion-button>Devenez partenaire</ion-button>
  </ion-card>


</ion-card-content>
</ion-content>








