<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Restaurent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    Nos Restaurants partenaires
  </ion-card-header>
<ion-card-content>
  <ion-button>Bistrot des Gascons</ion-button>
  <ion-button>Les fous de l'île</ion-button><br>
  <ion-button>Bistrot landais</ion-button>
  <ion-button>Villa 9-Trois</ion-button><br>
  <ion-button>Bistrot du Sommalier</ion-button>
  <ion-button>Devenez partenaire</ion-button>

</ion-card-content>
</ion-content>








