<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Restaurent
    </ion-title>
  </ion-toolbar>
</ion-header>
    <ion-item>
      <ion-label> Restaurent Partenaires</ion-label>
    </ion-item>
<ion-content>
  <ion-card-header>
    Tous nos Restaurent partenaire avec le bateau de Thibault
  </ion-card-header>
  <br>
  <ion-card-content>
  <ion-card>
     <ion-button *ngFor="let res of modelData" (click)="showModal(res)">{{res.name}}</ion-button>
  </ion-card>
</ion-card-content>
</ion-content>








