<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p class="titre">Produits</p>
    </ion-title>
    <ion-icon class="search" name="search-outline" (click)="searchActive=!searchActive"></ion-icon>
  </ion-toolbar>
  <ion-searchbar *ngIf="searchActive" class="searchbar"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-card class="card" *ngFor="let produit of ProduitsList">
      <ion-img class="img" [src]="produit.imgURL"></ion-img>
      <ion-card-title class="titre_produits">{{ produit.name }}</ion-card-title>
        <b class="price">{{ produit.price | currency:'€' }}</b>
        <ion-row>
          <ion-col>
            <ion-button class="button" (click)="addToCart(produit)" >
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

    </ion-card>
  </ion-row>
</ion-content>