<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p class="titre">Produits</p>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-content>
  <p class="para">Nos produits</p>
  <ion-row>
    <ion-card class="card" *ngFor="let p of products">
      <ion-card-title>{{ p.name }}</ion-card-title>
      <ion-label>
        <b>{{ p.price | currency:'€' }}</b>
      </ion-label>
      <ion-footer>
        <ion-row>
          <ion-col>
            <ion-button (click)="addToCart(p)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-card>
  </ion-row>
</ion-content>
-->

<ion-content>
  <ion-row>
    <ion-card class="card" *ngFor="let produit of ProduitsList">
      <ion-img [src]="produit.imgURL"></ion-img>
      <ion-card-title class="titre">{{ produit.name }}</ion-card-title>
      <ion-label>
        <b>{{ produit.price | currency:'€' }}</b>
      </ion-label>
      <ion-footer>
        <ion-row>
          <ion-col>
            <ion-button (click)="addToCart(produit)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-card>
  </ion-row>
</ion-content>