
ion-fab-button {
  height: 70px;
  width: 70px;
}
 
.cart-icon {
  font-size: 30px;
}
 
.cart-length {
  color: var(--ion-color-primary);
  position: flex;
  top: 18px;
  left: 25px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}

.card {
  display: block;
  margin: 10px auto;
  width: 40%;
  height: 40%;
  position: relative;
  text-align: center;
    
}