.card {
    width:40%; // adjust width on your ion-card suitable on your screen
display:block;
margin: 10px auto;
}

.texte{
    display: block;
    font-style: normal;
    font-family:arial, sans-serif;
    text-align: center;

}