<ion-header>
  <ion-toolbar>
    <ion-title> Bateau Thibault </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-header>
    Vente en direct de notre bureau Produit selon la saison, Livraison sur Paris
  </ion-card-header>
  <ion-card-content>
    <ion-button (click)="produitPromotion()" size="large" color="primary">
      Produit et Promotions
    </ion-button>
    <br />
    <ion-button (click)="bateau()">Bateaux</ion-button>
    <ion-button (click)="restaurant()">Restaurants</ion-button><br />
    <ion-button (click)="recette()">Recettes</ion-button>
    <ion-button (click)="contact()">Contacts</ion-button>
  </ion-card-content>
</ion-content>
