<ion-header>  
  <ion-toolbar  >  
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios,android,windows"></span>
        <ion-icon name="close" showWhen="android,windows, windows"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{modelData.name}}</ion-title>  
  </ion-toolbar>  
</ion-header>   
<ion-content >  
  <ion-row>
    <ion-card class="card">
      <ion-img class="img"   [src]="modelData.photo"></ion-img>
      <ion-img class="img"   [src]="modelData.photo_2"></ion-img>
  <ion-footer>
     <ion-row>
       <ion-col >
        <p class="texte">{{modelData.infos}}</p>
       </ion-col>
     </ion-row>
  </ion-footer>
  </ion-card>
  </ion-row>
</ion-content> 

