<ion-header>  
  <ion-toolbar  >  
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios,android,windows"></span>
        <ion-icon name="close" showWhen="android,windows, windows"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{modelData.name}}</ion-title>  
  </ion-toolbar>  
</ion-header>   
<ion-content >  
  <ion-card class="card" style="width: 40%;">
    <ion-card-header>
      <ion-card-subtitle><ion-img [src]="modelData.photo"></ion-img></ion-card-subtitle>
    </ion-card-header>
 </ion-card>
<p class="texte">{{modelData.infos}}</p>
</ion-content> 

