.card {

    width:90%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 10px auto;
    height: 100%;
    }


.texte{
    display: block;
    font-style: normal;
    font-family:arial, sans-serif;
    text-align: center;

}

@media screen and (min-width: 601px) {
    p {
        font-size: 73px;
    }
}

    @media screen and (max-width: 600px) {
        p {
            font-size: 23px;
        }
    
}