
<ion-header>
  <ion-toolbar>
    <ion-title>contacts</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-app>

    <ion-header translucent>
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
 </ion-app>

    <ion-content> 

      <ion-card>
          <ion-card-title>Le bateau de Thibault</ion-card-title>
        <ion-card-header>
          <ion-list>
            <ion-item  >
                <ion-img src="../../assets/imgs/TIG.png"></ion-img>
              <ion-label> </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-header>
        <ion-card-content>
          <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
            <ion-fab-button>
              <ion-icon name="settings"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="end">
              <ion-fab-button><ion-icon name="call"></ion-icon></ion-fab-button>
              <ion-fab-button><ion-icon name="logo-google"></ion-icon></ion-fab-button>
              <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
              <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-card-content>
          <br>
          <p>
        <ion-card-content>
          <p>Qu'il est chaud le soleil&#x000a;Quand nous sommes en vacances&#x000a;
            Y a d' la joie, des hirondelles&#x000a;C'est le sud de la France&#x000a;
            Papa bricole au garage&#x000a;Maman lit dans la chaise longue&#x000a;
            Dans ce joli paysage&#x000a;Moi, je me balade en tongs&#x000a;&#x000a;
            Que de bonheur!&#x000a;Que de bonheur!</p>
            <p>Que du Bonheur !</p>
            <p>Que du Bonheur !</p>
         </ion-card-content>
        </p>
      </ion-card>
    
    </ion-content>


