<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
  Recettes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    Nos Recettes
  </ion-card-header>
<ion-card-content>
  <ion-card>
    <ion-button>Homard</ion-button>
    <ion-button>St Jacques</ion-button><br>
    <ion-button>Bar</ion-button>
    <ion-button>Tourteu</ion-button><br>
    <ion-button>Recettes</ion-button>
    <ion-button (click)="button_home()"  >Home</ion-button>
  </ion-card>

</ion-card-content>
</ion-content>

