.para{
     
   display:block;
   margin: 10px auto;
   text-align: center;
   font-size: 100%;
   font-style: italic;
}
.card {
    
   display: block;
   margin: 10px auto;
   width: 40%;
   height: 40%;
    
}

.titre {
   text-align: center; 
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.img {
   margin: 10px;
   max-width: 100%;  
   height: auto;  
   max-height: 100%;   
   
}