<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><p class="titre">contacts</p></ion-title>
  </ion-toolbar>
</ion-header>
    <ion-content>
      <p class="para">Le bateau de Thibault</p>
      <ion-row>
      <ion-card>
          <img src="/assets/imgs/hm.jpeg" />
        <ion-card-content>
          <p>Nous contacter:<br>
            lebateaudethibault@gmail.com<br>
            06.63.99.99.78<br>
            
            N'hésitez pas à nous envoyer des photos de vos délicieuses créations par email, messages privés, sms !
            Nous les partagerons sur nos réseaux pour donner des idées de repas à tous les clients!
            <br>
            Bon appetit !</p>
         </ion-card-content>
         <ion-row>
         <ion-card-content> 
         <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
          <ion-fab-button>
            <ion-icon name="settings"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
             
            <ion-fab-button><ion-icon name="logo-google"></ion-icon></ion-fab-button>
            <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
            <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
        </ion-card-content>
      </ion-row>

      <ion-row>
        <ion-card-content>
          
        </ion-card-content>
      </ion-row>
     
      
      </ion-card>
    </ion-row>
    </ion-content>




    

 