.para{
     
    display:block;
    margin: 10px auto;
    text-align: center;
    font-size: 100%;
    font-style: italic;
 }

 .titre {
    text-align: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 }

 @media screen and (min-width: 601px) {
   p {
       font-size: 73px;
   }
}

   @media screen and (max-width: 600px) {
       p {
           font-size: 23px;
       }
   
}