<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Bateau Thibault
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-header>
    Nos beateux partenaires
  </ion-card-header>
<ion-card-content>
  <ion-card>
    <ion-button>De la brise</ion-button>
    <ion-button>Shaphir</ion-button><br>
    <ion-button>Gast Micher</ion-button>
    <ion-button>Aquillon</ion-button><br>
    <ion-button>Conatct</ion-button>
    <ion-button>Conatct</ion-button>
  </ion-card>

</ion-card-content>
</ion-content>
