<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Bateau Thibault
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-card-header>
    Vente en direct de notre bureau
    Produit selon la saison, Livraison sur Paris
  </ion-card-header>
<ion-card-content>
    <ion-button (click)="produitPromotion()"  size="large" color="primary">Produit et Promotions</ion-button><br>
    <ion-button (click)="bateau()"  >De la brise</ion-button>
    <ion-button (click)="restaurant()"  >Shaphir</ion-button><br>
    <ion-button (click)="recette()" >Gast Micher</ion-button>
    <ion-button (click)="contact()"  >Aquillon</ion-button><br>
    <ion-button (click)="produitPromotion()">Conatct</ion-button>
</ion-card-content>
</ion-content>
